*, *:before, *:after {
    margin: 0;
    padding: 0;
    font-family: 'Goudy Old Style', serif;
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

#title-container
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-text
{
    text-align: center;
    font-size: 3rem;
    color: orange;
    text-shadow:
            0 0 10px orange,
            0 0 20px red,
            0 0 40px rgba(255, 100, 0, 0.7);
    animation: flicker 5s infinite;
}

@keyframes flicker {
    0% { opacity: 0.8; text-shadow: 0 0 10px orange; }
    50% { opacity: 1; text-shadow: 0 0 20px red; }
    100% { opacity: 0.9; text-shadow: 0 0 15px orange; }
}

#slang-text
{
    /* Should lit up when the cursor closes on the text like a torch */
    text-align: center;

    font-size: 1rem;
    color: orange;
    text-shadow:
            0 0 10px orange,
            0 0 20px red,
            0 0 40px rgba(255, 100, 0, 0.7);
    animation: flicker 3s infinite;
}